%h2
  Auto
%p
  Zon komt op om:
  %strong
    = light.sunrise
%p
  Zon gaat onder op:
  %strong
    = light.sunset
%p
  Licht gaat aan op:
  %strong
    = light.auto_on_time
%p
  Licht gaat uit op:
  %strong
    = light.auto_off_time
